<!--=====================================
	Header
======================================-->

<header class="header header--standard header--market-place-4" data-sticky="true">

    <!--=====================================
    Header TOP
    ======================================-->

    <div class="header__top" style="height:60px;" >

        <div class="container">

            <!--=====================================
            Social 
            ======================================-->

            <div class="header__left">
                <ul class="d-flex justify-content-center">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter mr-4"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-youtube mr-4"></i></a></li>
                </ul>
            </div>

            <!--=====================================
            Contact & lenguage 
            ======================================-->
        

            <div class="header__right">
                <!-- <ul class="header__top-links" >
                </ul> -->


                <ul class="header__top-links">
                    <li><i class="icon-smartphone"></i> <a  class="btn btn-fill" style="font-size:16px;font-weight:600;color:white;" *ngIf="installEvent"  (click)="installByUser()" >Instalar App</a></li>
                    <li><a routerLink="/empieza-vender">Vender en OrganicGye</a></li>
                    <li><a href="#">Lista de tiendas</a></li>
                    <!-- <li><i class="icon-telephone"></i> Línea directa:<strong> 1-800-123-5678</strong></li> -->
                    <!-- <li>
                        <div class="ps-dropdown language"><a href="#"><img src="{{url_image}}img/template/en.png" alt="">English</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#"><img src="{{url_image}}img/template/es.png" alt=""> Spanish</a></li>
                            </ul>
                        </div>
                    </li> -->
                </ul>
            </div>

        </div><!-- End Container -->

    </div><!-- Header Top -->

    <!--=====================================
    Header Content
    ======================================-->

    <div class="header__content">

        <div class="container">

            <div class="header__content-left">

                <!--=====================================
                Logo
                ======================================-->

                <a class="ps-logo" routerLink="/">
                    <img src="{{url_image}}img/template/logo_organic_2.png" alt="">
                </a>

                <!--=====================================
                Menú
                ======================================-->

                <div class="menu--product-categories">

                    <div class="menu__toggle">
                        <i class="icon-menu"></i>
                        <span> Compra por categoría</span>
                    </div>

                    <div class="menu__content">
                        <ul class="menu--dropdown">

                            <li *ngFor="let categoria of categorias;let i=index;let lastIndex=last"
                                class="menu-item-has-children has-mega-menu">
                                <a routerLink="productos/{{categoria.url}}" target="_top"><i
                                        class="{{categoria.icon}}"></i> {{categoria.nombre}} </a>
                                <div class="mega-menu">
                                    <div *ngFor="let title of title_list[i] " class="mega-menu__column">
                                        <h4>{{title }}<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list" [attr.titleList]="title">

                                        </ul>
                                    </div>
                                </div>

                                {{ lastIndex? getSubcategorias() :"" }}

                            </li>

                        </ul>

                    </div>

                </div><!-- End menu-->

            </div><!-- End Header Content Left-->

            <!--=====================================
            Search
            ======================================-->
            <div class="header__content-center">
                    
                <form class="ps-form--quick-search"> 
                    
                    <input 
                    (keyup.enter)="goSearch(search.value)"
                    #search
                    class="form-control" 
                    type="text" 
                    placeholder="Estoy buscando...">

                    <button type="button"
                    (click)="goSearch(search.value)"
                    >Buscar</button>

                </form>

            </div>

            <div class="header__content-right">

                <div class="header__actions">

                    <!--=====================================
                    Wishlist
                    ======================================-->

                    <a *ngIf="!es_vendedor" class="header__extra" href="cuenta-usuario/cuenta">
                        <i class="icon-heart"></i><span><i class="totalWishlist">{{wishlist}}</i></span>
                    </a>

                    <!--=====================================
                    Cart
                    ======================================-->

                    <div class="ps-cart--mini">

                        <a *ngIf="!es_vendedor"  class="header__extra" routerLink="/carrito-compra">
                            <i class="icon-bag2"></i><span><i>{{totalShoppingCart}}</i></span>
                        </a>

                        <!-- <div *ngIf="shoppingCart.length > 0" class="ps-cart__content">

                            <div class="ps-cart__items">

                                <div *ngFor="let product of shoppingCart; let lastShopping = last"
                                    class="ps-product--cart-mobile">

                                    <div class="ps-product__thumbnail">
                                        <a href="product/{{product.url}}">
                                            <img src="{{url_image}}img/products/{{product.categoria}}/{{product.imagen}}">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" style="cursor:pointer"
                                            (click)="removeProduct(product.url)">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product/{{product.url}}">{{product.nombre}}</a>

                                        <small class="ps-product text-left p-0 m-0">

                                            Cantidad:
                                            <span class="qShoppingHeader">{{product.cantidad}}</span>
                                           
                                            x precio :
                                            <span class="pShoppingHeader" [innerHTML]="product.precio"></span>

                                        </small>
                                    </div>

                                    {{ lastShopping ? callbackShopping() : ""}}

                                </div>



                            </div>

                            <div class="ps-cart__footer">

                                <div [innerHTML]="subTotal"></div>
                                <figure>
                                    <a class="ps-btn" routerLink="/carrito-compra">Ir al carrito</a>
                                    <a class="ps-btn" href="/checkout">Comprar</a>
                                </figure>

                            </div>

                        </div> -->

                    </div>

                    <!--=====================================
                    Login and Register
                    ======================================-->

                    <div *ngIf="!authValidate" class="ps-block--user-header">
                        <div class="ps-block__left">
                            <i class="icon-user"></i>
                        </div>
                        <div class="ps-block__right">
                            <a routerLink="login">Login</a>
                            <a routerLink="registro">Registro</a>
                        </div>
                    </div>

                    <div *ngIf="authValidate" class="ps-block--user-header">
                        <div class="ps-block__left text-right">
                            <div [innerHTML]="picture"></div>
                        </div>
                        <div *ngIf="!es_vendedor" class="ps-block__right">
                            <a routerLink="/cuenta-usuario/cuenta">Mi cuenta</a>

                        </div>
                        <div *ngIf="es_vendedor" class="ps-block__right">
                            <a routerLink="/cuenta-usuario/cuenta/mi-tienda">Mi cuenta</a>

                        </div>
                    </div>

                </div><!-- End Header Actions-->

            </div><!-- End Header Content Right-->

        </div><!-- End Container-->

    </div><!-- End Header Content-->

</header>