.btnApp {
    display: inline-block;
    padding: 15px 45px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #000;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    background-color: #5fa30f;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
  }