<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Categoria</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="ps-section__right">


      <div class="d-flex justify-content-between">

        <div>
          <button mat-raised-button color="primary" (click)="addCategoria()">Nueva
            categoria</button>
        </div>
      </div>
      <br>
      <table class="table dt-responsive"  width="100%"
        >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Grupo</th>
            <th scope="col">Url</th>
            <th scope="col">Vistas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subcategoria of categorias;let i=index;let lastIndex=last;">
            <th> {{i+1}}</th>
            <td>{{ subcategoria.nombre }}</td>
            <td>{{subcategoria.grupo}}</td>
            <td>{{ subcategoria.url }}</td>
            <td>{{ subcategoria.vistas }}</td>
          </tr>
        </tbody>
      </table>
      <!-- 
        <div class="d-flex justify-content-center preloadTable">
          <div class="spinner-border text-muted my-3"></div>

        </div> -->

    </div>



  </mat-card-content>

</mat-card>

