<app-productos-breadcrumb></app-productos-breadcrumb>
<div class="container-fuid bg-white my-4">

    <div class="container">

        <!--=====================================
        Layout Categories
        ======================================--> 

        <div class="ps-layout--shop">
        
            <section>
                <app-best-sale-items></app-best-sale-items>
                <app-productos-recomendados></app-productos-recomendados>
                <app-productos-showcase></app-productos-showcase>
            </section>
        </div>
    </div>
</div>