<!--=====================================
    Breadcrumb
    ======================================-->

<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="index.html">Home</a></li>

            <li>Registro</li>

        </ul>

    </div>

</div>

<div  class="ps-my-account">

    <div class="container">

        <form [formGroup]="form"  (ngSubmit)="onSubmit()"   class="ps-form--account ps-tab-root" >

            <ul class="ps-tab-list">

                <li class="">

                	<p><a href="login">Login</a></p>

                </li>

                <li class="active">

                	<p><a href="registro">Registrate</a></p>

                </li>

            </ul>

            <div class="ps-tabs">

                
                <!--=====================================
                Register Form
                ======================================--> 

                <div class="ps-tab active" id="register">

                    <div class="ps-form__content">

                        <h5>Registra una cuenta</h5>

                        <div class="form-group">

                            <input class="form-control" type="text" formControlName="nombres"   placeholder="Nombres">
                            <div *ngIf="validatorErrorField('nombres') " >
                                <!-- <p *ngIf="form.get('nombres').hasError('price_invalid')" >Este no es valido </p> -->
                                <p class="text-danger" *ngIf="form.get('nombres').hasError('required')" >El campo es requerido </p>
                            </div>
                        </div>

                        <div class="form-group">

                            <input class="form-control" type="text" formControlName="apellidos"  placeholder="Apellidos">
                            <div *ngIf="validatorErrorField('apellidos') " >
                                <p class="text-danger" *ngIf="form.get('apellidos').hasError('required')" >El campo es requerido </p>

                            </div>

                        </div>

                        <div class="form-group">

                            <input class="form-control"  type="email" formControlName="email"  [(ngModel)]="usuario.email" placeholder="Correo">
                            <div *ngIf="validatorErrorField('email') " >
                                <p class="text-danger" *ngIf="form.get('email').hasError('required')" >El campo es requerido </p>
                                <p class="text-danger" *ngIf="form.get('email').hasError('pattern')" >Email incorrecto </p>

                            </div>


                        </div>

                        <div class="form-group">

                            <input class="form-control" type="text" formControlName="username"  placeholder="Username">
                            <div *ngIf="validatorErrorField('username') " >
                                
                                <p class="text-danger" *ngIf="form.get('username').hasError('required')" >El campo es requerido </p>

                            </div>

                        </div>

                        

                        <div class="form-group">

                            <input class="form-control" type="password"  maxlength="16" formControlName="password"  placeholder="Contraseña">
                            <div *ngIf="validatorErrorField('password') " >
                                <p class="text-danger" *ngIf="form.get('password').hasError('required')" >El campo es requerido </p>
                                <p class="text-danger" *ngIf="form.get('password').hasError('pattern')" >Ingresa una contraseña segura </p>
                                <!-- <p class="text-danger" *ngIf="form.get('password').hasError('maxLenght')" >El tamaño maximo permitido es 16 caracteres</p> -->

                            </div>

                        </div>

                        <div class="form-group submtit">

                            <button class="ps-btn ps-btn--fullwidth">Registrar</button>

                        </div>

                    </div>

                    <div class="ps-form__footer">

                        <p>Inicia sesión con:</p>

                        <ul class="ps-list--social">

                            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>

                        </ul>

                    </div>

                </div><!-- End Register Form -->

            </div>

        </form>

    </div>

</div>