<!--=====================================
    Breadcrumb
    ======================================-->

<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="index.html">Home</a></li>

            <li>Registro</li>

        </ul>

    </div>

</div>

<div  class="ps-my-account">

    <div class="container">

        <form [formGroup]="form"  (ngSubmit)="onSubmit()"   class="ps-form--account ps-tab-root needs-validation" novalidate>

            <ul class="ps-tab-list">

                <li class="">

                	<p><a routerLink="/login">Login</a></p>

                </li>

                <li class="active">

                	<p><a routerLink="/registro">Registrate</a></p>

                </li>

            </ul>

            <div class="ps-tabs">

                
                <!--=====================================
                Register Form
                ======================================--> 

                <div class="ps-tab active" id="register">

                    <div class="ps-form__content">

                        <h5>Registra una cuenta</h5>

                        <div class="form-group">

                            <input class="form-control" required type="text" maxlength="30" (keypress)="validators.soloLetras($event)" (paste)="false"   formControlName="nombres"  (change)="capitalize(nombres)" #nombres   placeholder="Nombres">
                           
                            <div *ngIf="validatorErrorField('nombres') " >
                                <!-- <p class="text-danger" *ngIf="form.get('nombres').hasError('pattern')" >Ingrese solo letras</p> -->
                                <p class="text-danger" *ngIf="form.get('nombres').hasError('required')" >El campo es requerido </p>
                            </div>

                        </div>

                        <div class="form-group">

                            <input class="form-control" type="text" required maxlength="30" (keypress)="validators.soloLetras($event)" formControlName="apellidos" (paste)="false" (change)="capitalize(apellidos)" #apellidos placeholder="Apellidos">
                            <div *ngIf="validatorErrorField('apellidos') " >
                                <p class="text-danger" *ngIf="form.get('apellidos').hasError('required')" >El campo es requerido </p>

                            </div>

                        </div>

                        <div class="form-group">

                            <input class="form-control" maxlength="40"  required type="email" formControlName="email"  [(ngModel)]="usuario.email" data-toggle="tooltip" title="Ingrese su email con el siguiente formato, ejemplo:hola@hotmail.com" placeholder="Correo">
                            <div *ngIf="validatorErrorField('email') " >
                                <p class="text-danger" *ngIf="form.get('email').hasError('required')" >El campo es requerido </p>
                                <p class="text-danger" *ngIf="form.get('email').hasError('pattern')" >Email incorrecto </p>

                            </div>


                        </div>

                        <div class="form-group">

                            <input class="form-control" type="text" required formControlName="username"  placeholder="Nombre de usuario" maxlength="20" >
                            <div *ngIf="validatorErrorField('username') " >
                                
                                <p class="text-danger" *ngIf="form.get('username').hasError('required')" >El campo es requerido </p>

                            </div>

                        </div>
                      
                        

                        

                        <div class="form-group">

                            <input class="form-control" type="password" required pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$" maxlength="16" formControlName="password" data-toggle="tooltip" title="Ingrese mayúsculas minúsculas y digitos (mínimo 8 caracteres)" placeholder="Contraseña">
                            <div *ngIf="validatorErrorField('password') " >
                                <p class="text-danger" *ngIf="form.get('password').hasError('required')" >El campo es requerido </p>
                                <p class="text-danger" *ngIf="form.get('password').hasError('pattern')" >Ingresa una contraseña segura </p>
                                <!-- <p class="text-danger" *ngIf="form.get('password').hasError('maxLenght')" >El tamaño maximo permitido es 16 caracteres</p> -->

                            </div>

                        </div>

                        <div class="form-group submtit">

                            <button class="ps-btn ps-btn--fullwidth"  >Registrar</button>

                        </div>

                    </div>

                    <div class="ps-form__footer">

                        <!-- <p>Registrate con:</p> -->

                        <ul class="ps-list--social">

                            <!-- <li>
                                <a 
                                class="facebook" 
                                style="cursor:pointer"
                                (click)="facebookRegister()">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li> -->
                            <li><a 
                                class="google" 
                                style="cursor:pointer;color: white;"
                                (click)="googleRegister()">
                                    <i class="fab fa-google"></i>
                                       Registrate con google
                                </a>
                            </li>

                        </ul>

                    </div>

                </div><!-- End Register Form -->

            </div>

        </form>

    </div>

</div>