<!--=====================================
    	Home Features
    	======================================-->

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="fas fa-shipping-fast"></i></div>
                <div class="ps-block__right">
                    <h4>Envio gratuito</h4>
                    <p>Por compras mayor a $25</p>
                </div>
            </div>

            <!-- <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>90 Days Return</h4>
                    <p>If goods have problems</p>
                </div>
            </div> -->

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Pago seguro</h4>
                    <p>pago seguro 100% </p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>Soporte 24/7</h4>
                    <p>Soporte dedicado</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->