<!--=====================================
	Header Mobile
	======================================-->

<header class="header header--mobile" data-sticky="true">

    <div class="header__top">

        <div class="header__left">

            <ul class="d-flex justify-content-center">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-instagram mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter mr-4"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-youtube mr-4"></i></a></li>
            </ul>
        </div>

        <div class="header__right">

            <ul class="navigation__extra">

                <li><a routerLink="/empieza-vender">Vender en el MarketPlace</a></li>
                <li><a href="#">Lista de tiendas</a></li>
                <li><i class="icon-telephone"></i> Linea directa:<strong> 1-800-123-5678</strong></li>

                <!-- <li>

                    <div class="ps-dropdown language"><a href="#"><img src="{{url_image}}img/template/en.png"
                                alt="">English</a>

                        <ul class="ps-dropdown-menu">

                            <li><a href="#"><img src="{{url_image}}img/template/es.png" alt=""> Español</a></li>

                        </ul>

                    </div>

                </li> -->

            </ul>

        </div>

    </div>

    <div class="navigation--mobile">

        <div class="navigation__left">

            <!--=====================================
				Menu Mobile
				======================================-->

            <div class="menu--product-categories">

                <div class="ps-shop__filter-mb mr-4 mt-4" id="filter-sidebar">
                    <i class="icon-menu "></i>
                </div>

                <div class="ps-filter--sidebar">

                    <div class="ps-filter__header">
                        <h3>Categorias</h3><a class="ps-btn--close ps-btn--no-boder" href="#"></a>
                    </div>

                    <div class="ps-filter__content">

                        <aside class="widget widget_shop">

                            <ul class="ps-list--categories">
                                <li *ngFor="let categoria of categorias;let lastIndex=last"
                                    class="current-menu-item menu-item-has-children">
                                    <a routerLink="productos/{{categoria.url}}">
                                        <strong>{{categoria.nombre}}</strong>
                                    </a>
                                    <span class="sub-toggle">
                                        <i class="fa fa-angle-down"></i>
                                    </span>
                                    <ul class="sub-menu" style="display: none;" [attr.categorias]="categoria.nombre">

                                    </ul>
                                    {{lastIndex?getSubcategorias():"" }}
                                </li>

                            </ul>

                        </aside>

                    </div>

                </div>

            </div><!-- End menu-->

            <a class="ps-logo pl-3 pl-sm-5" routerLink="/">
                <img src="{{url_image}}img/template/logo_organic_2.png" class="pt-3" alt="">
            </a>

        </div>

        <div class="navigation__right">

            <div class="header__actions">

                <!--=====================================
					Cart
					======================================-->

                <div class="ps-cart--mini">

                    <a class="header__extra" routerLink="/carrito-compra">
                        <i class="icon-bag2"></i><span><i>{{totalShoppingCart}}</i></span>
                    </a>

                    <!-- <div *ngIf="shoppingCart.length > 0" class="ps-cart__content">

                        <div class="ps-cart__items">

                            <div *ngFor="let product of shoppingCart;let lastIndex= last "
                                class="ps-product--cart-mobile">

                                <div class="ps-product__thumbnail">
                                    <a href="producto/{{product.url}}">
                                        <img src="{{url_image}}img/products/{{product.categoria}}/{{product.imagen}}">
                                    </a>
                                </div>

                                <div class="ps-product__content">
                                    <a class="ps-product__remove" style="cursor:pointer"
                                        (click)="removeProduct(product.url)">
                                        <i class="icon-cross"></i>
                                    </a>
                                    <a href="product-default.html">{{product.nombre}}</a>
                                    <small class="ps-product text-left p-0 m-0">
                                        Cantidad:
                                        <span class="qShoppingHeaderM"> {{product.cantidad}} </span>
                                        x Costo de envio: $
                                        <span class="sShoppingHeaderM"> {{product.shipping}} </span>
                                        +
                                        <span class="pShoppingHeaderM" [innerHTML]="product.precio"></span>
                                    </small>
                                </div>
                                {{lastIndex?callbackShooping():''}}
                            </div>



                        </div>

                        <div class="ps-cart__footer">

                            <div [innerHTML]="subTotal"></div>
                            <figure>
                                <a class="ps-btn" href="/carrito-compra">Ir al carrito</a>
                                <a class="ps-btn" href="/checkout">Comprar</a>
                            </figure>

                        </div>

                    </div> -->

                </div>

                <!--=====================================
					Login and Register
					======================================-->

                <div *ngIf="!authValidate" class="ps-block--user-header">
                    <a class="header__extra" routerLink="login">
                        <i class="icon-user"></i>
                    </a>
                    <div class="ps-block__right">
                        <a routerLink="login">Login</a>
                        <a routerLink="registro">Registro</a>
                    </div>
                </div>

                <div *ngIf="authValidate" class="ps-block--user-header">
                    <div class="ps-block__left text-right">
                        <div [innerHTML]="picture" style="width:40px"></div>
                    </div>
                    <div class="ps-block__right">
                        <a routerLink="/cuenta-usuario/cuenta">Mi cuenta</a>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <!--=====================================
		Search
		======================================-->

    <div class="ps-search--mobile">

        <form class="ps-form--search-mobile">
            <div class="form-group--nest">
                <input (keyup.enter)="goSearch(search.value)" #search class="form-control" type="text"
                    placeholder="Estoy buscando...">
                <button type="button" (click)="goSearch(search.value)" #search><i class="icon-magnifier"></i></button>
            </div>
        </form>

    </div>

</header> <!-- End Header Mobile -->