<!--=====================================
Products found
======================================--> 

<div class="ps-shopping ps-tab-root">

    <!--=====================================
    Shoping Header
    ======================================--> 

    <div class="ps-shopping__header">

        <p><strong> {{productFound}}</strong> Productos encontrados</p>

        <div class="ps-shopping__actions">

            <select 
            *ngIf="sortItems.length > 0"
            class="ps-select sortItems" data-placeholder="Sort Items">

                <option
                *ngFor="let item of sortItems; let i = index"
                [value]="sortValues[i]">

                {{item}}</option>
               

            </select>

            <div class="ps-shopping__view">

                <p>Vista</p>

                <ul class="ps-tab-list">

                    <li class="active">
                        <a href="#tab-1">
                            <i class="icon-grid" title="cuadrícula" ></i>
                        </a>
                    </li>

                    <li>
                        <a href="#tab-2">
                            <i class="icon-list4" title="lista" ></i>
                        </a>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <!--=====================================
    Shoping Body
    ======================================--> 

    <div 
    *ngIf="!cargando"
    class="ps-tabs">

        <!--=====================================
        Grid View
        ======================================--> 

        <div class="ps-tab active" id="tab-1">

            <div class="ps-shopping-product">

                <div class="row">

                    <!--=====================================
                    Product
                    ======================================--> 

                    <div 
                    *ngFor="let product of products; let i = index;"
                    class="col-lg-2 col-md-4 col-6">

                        <div class="ps-product">

                            <div class="ps-product__thumbnail">

                                <a routerLink="/producto/{{product.url}}">
                                    <img src="{{path}}img/products/categorias/{{product.categoria}}/{{product.imagen}}" alt="{{product.nombre}}">
                                </a>

                                <div [innerHTML]="price[i][1]"></div>

                                <ul class="ps-product__actions">

                                    <li>
                                        <a style="cursor:pointer" *ngIf="!es_vendedor" (click)="addShoppingCart(product.url,1,[])" data-toggle="tooltip" data-placement="top" title="Añadir al carrito">
                                            <i class="icon-bag2"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a routerLink="/producto/{{product.url}}" data-toggle="tooltip" data-placement="top" title="ver">
                                            <i class="icon-eye"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a  data-toggle="tooltip" style="cursor:pointer" *ngIf="!es_vendedor" (click)="addWishList(product.url)" data-placement="top" title="Añadir a la lista de deseos">
                                            <i class="icon-heart"></i>
                                        </a>
                                    </li>                      

                                </ul>

                            </div>

                            <div class="ps-product__container">

                                <a class="ps-product__vendor" routerLink="/#">{{product.store}}</a>

                                <div class="ps-product__content">

                                    <a class="ps-product__title" routerLink="/producto/{{product.url}}">
                                    {{product.nombre}}</a>

                                    <div class="ps-product__rating">

                                        <select class="ps-rating" data-read-only="true">

                                            <option 
                                            *ngFor="let review of reviews[i]; let f = index"
                                        [value]="review">{{f+1}}</option>
                                     
                                            </select>

                                        <span>{{rating[i]}}</span>

                                    </div>

                                    <div [innerHTML]="price[i][0]"></div>

                                </div>

                                <div class="ps-product__content hover">

                                    <a class="ps-product__title" routerLink="/producto/{{product.url}}">
                                    {{product.nombre}}</a>

                                    <div [innerHTML]="price[i][0]"></div>

                                </div>

                            </div>

                        </div>

                    
                  
                    </div><!-- End Product -->

                </div>

            </div>

            <div class="ps-pagination">

                <ul class="pagination"
                [attr.data-total-pages]="totalPage"
                [attr.data-actual-page]="page"
                [attr.data-current-route]="currentRoute">
                    
                </ul>

            </div>

        </div><!-- End Grid View-->

        <!--=====================================
        List View
        ======================================--> 

        <div class="ps-tab" id="tab-2">

            <div class="ps-shopping-product">

                <!--=====================================
                Product
                ======================================--> 

                <div 
                *ngFor="let product of products; let i = index; let lastIndex = last"
                class="ps-product ps-product--wide">

                    <div class="ps-product__thumbnail">

                        <a routerLink="/producto/{{product.url}}">
                            <img src="{{path}}img/products/categorias/{{product.categoria}}/{{product.imagen}}" alt="{{product.nombre}}">
                        </a>

                    </div>

                    <div class="ps-product__container">

                        <div class="ps-product__content">

                            <a class="ps-product__title" routerLink="/producto/{{product.url}}">
                            {{product.nombre}}</a>

                            <div class="ps-product__rating">

                                <select class="ps-rating" data-read-only="true">

                                    <option 
                                    *ngFor="let review of reviews[i]; let f = index"
                                [value]="review">{{f+1}}</option>
                             
                                    </select>

                                <span>{{rating[i]}}</span>

                            </div>

                            <p class="ps-product__vendor">Vendedor:
                                <a routerLink="/#">{{product.tienda}}</a>
                            </p>

                            <!-- <div [innerHTML]="product.resumen"></div> -->
                            <div class="ps-list--dot">
                    
                                <ul class="ps-product__desc">
                                    
                                    <li *ngFor="let sum of summary[i]">
                                        {{sum}}
                                    </li>
            
                                </ul>
            
                            </div>
                        </div>

                        <div class="ps-product__shopping">

                            <div [innerHTML]="price[i][0]"></div>

                            <a class="ps-btn" style="cursor:pointer"  *ngIf="!es_vendedor" (click)="addShoppingCart(product.url,1,[])">Añadir al carrito</a>

                            <ul class="ps-product__actions">
                                <li><a routerLink="/producto/{{product.url}}"><i class="icon-eye"></i>ver</a></li>
                                <li>
                                    <a  data-toggle="tooltip" style="cursor:pointer" *ngIf="!es_vendedor" (click)="addWishList(product.url)" data-placement="top" title="Añadir a la lista de deseos">
                                        <i class="icon-heart"></i>
                                    </a>
                                </li>       
                            </ul>

                        </div>

                    </div>

                
                 {{ lastIndex ? callback(params) : ""}}
                </div> <!-- End Product -->


            </div>

             <div class="ps-pagination">

                <ul class="pagination"
                [attr.data-total-pages]="totalPage"
                [attr.data-actual-page]="page"
                [attr.data-current-route]="currentRoute">
                    
                </ul>

            </div>

        </div>

    </div>

    <!--=====================================
    Preload
    ======================================-->

    <div 
    *ngIf="cargando"
    class="d-flex justify-content-center">
        <div class="spinner-border text-muted my-5"></div>
    </div>

</div>