<!--=====================================
	Header Promotion
	======================================-->

<div class="ps-block--promotion-header bg--cover" style="background: url(img/banner/top/header-promotion.jpg);">
    <div class="container">
        <div class="ps-block__left">
            <h3>20%</h3>
            <figure>
                <p>Discount</p>
                <h4>For Books Of March</h4>
            </figure>
        </div>
        <div class="ps-block__center">
            <p>Enter Promotion<span>Sale2019</span></p>
        </div><a class="ps-btn ps-btn--sm" href="#">Shop now</a>
    </div>
</div>