<!--=====================================
	Footer
	======================================-->

<footer class="ps-footer">

    <div class="container">

        <div class="ps-footer__widgets">

            <!--=====================================
				Contact us
				======================================-->

            <aside class="widget widget_footer widget_contact-us">

                <h4 class="widget-title">Contactanos</h4>

                <div class="widget_content">

                    <p>LLamanos 24/7</p>
                    <h3>1800 97 97 69</h3>
                    <p>Urdesa  central , Guayaquil, Ecuador <br>
                        <a href="mailto:tesis.ug2020@gmail.com">tesis.ug2020@gmail.com</a>
                    </p>

                    <ul class="ps-list--social">
                        <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a class="google-plus" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>

                </div>

            </aside>

            <!--=====================================
				Quick Links
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Enlaces rápidos</h4>

                <ul class="ps-list--link">

                    <li><a href="#">Politicas</a></li>

                    <li><a href="#">Terminos &amp; Condiciones</a></li>

                    <li><a href="#">Shipping</a></li>

                    <!-- <li><a href="#">Return</a></li> -->

                    <li><a href="faqs.html">Preguntas frecuentes</a></li>

                </ul>

            </aside>

            <!--=====================================
				Company
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Empresa</h4>

                <ul class="ps-list--link">

                    <li><a href="about-us.html">Acerca de nosotros</a></li>

                    <li><a href="#">Afiliados</a></li>

                    <li><a href="#">Carrera</a></li>

                    <li><a href="contact-us.html">Contactanos</a></li>

                </ul>

            </aside>

            <!--=====================================
				Bussiness
				======================================-->

            <aside class="widget widget_footer">

                <h4 class="widget-title">Bussiness</h4>

                <ul class="ps-list--link">

                    <li><a href="#">Our Press</a></li>

                    <li><a href="checkout.html">Checkout</a></li>

                    <li><a href="my-account.html">My account</a></li>

                    <li><a href="shop-default.html">Shop</a></li>

                </ul>

            </aside>

        </div>

        <!--=====================================
			Categories Footer
			======================================-->

        <div class="ps-footer__links">

            <p *ngFor="let categoria of categorias;let lastIndex=last;"  >
                <strong [attr.categorias-footer]="categoria.nombre"  >{{categoria.nombre}}  </strong>
            
                {{lastIndex?getSubcategorias():"" }}

            </p>

           

        </div>

        <!--=====================================
			CopyRight - Payment method Footer
			======================================-->

        <div class="ps-footer__copyright">

            <p>© 2020 MarketPlace. Todos los derechos reservados</p>

            <p>
                <span>Usamos pago seguro con:</span>

                <a href="#">
                    <img src="{{url_image}}img/payment-method/1.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{url_image}}img/payment-method/2.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{url_image}}img/payment-method/3.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{url_image}}img/payment-method/4.jpg" alt="">
                </a>

                <a href="#">
                    <img src="{{url_image}}img/payment-method/5.jpg" alt="">
                </a>

            </p>

        </div>

    </div>

</footer>