<!--=====================================
    Breadcrumb
    ======================================-->

<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="index.html">Home</a></li>

            <li>Login</li>

        </ul>

    </div>

</div>

<!--=====================================
    Login - Register Content
    ======================================-->

<div class="ps-my-account">

    <div class="container">

        <form class="ps-form--account ps-tab-root"  action="link.html" method="get">

            <!-- <ul class="ps-tab-list">

                <li class="active"><a href="login">Login</a></li>

                <li class=""><a href="registro">Registrate</a></li>

            </ul> -->

            <ul class="ps-tab-list">

                <li class="active">

                	<p><a href="login">Login</a></p>

                </li>

                <li class="">

                	<p><a href="registro">Registrate</a></p>

                </li>

            </ul>

            <div class="ps-tabs">

                <!--=====================================
                    Login Form
                    ======================================-->

                <div class="ps-tab active" id="sign-in">

                    <div class="ps-form__content">

                        <h5>Inicia sesión con tu cuenta</h5>

                        <div class="form-group">

                            <input class="form-control" type="text" placeholder="Username o email">

                        </div>

                        <div class="form-group form-forgot">

                            <input class="form-control" type="text" placeholder="Contraseña">

                            <a href="">olvido contraseña?</a>

                        </div>

                        <div class="form-group">

                            <div class="ps-checkbox">

                                <input class="form-control" type="checkbox" id="remember-me" name="remember-me">

                                <label for="remember-me">Recuerdame</label>

                            </div>

                        </div>

                        <div class="form-group submtit">

                            <button class="ps-btn ps-btn--fullwidth">Login</button>

                        </div>

                    </div>

                    <div class="ps-form__footer">

                        <p>Connect with:</p>

                        <ul class="ps-list--social">

                            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>

                        </ul>

                    </div>

                </div><!-- End Login Form -->


            </div>

        </form>
        <br>
    </div>

</div>