<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a href="index.html">Home</a></li>

            <li>Página 404</li>

        </ul>

    </div>

</div>

<!--=====================================
404 Content
======================================-->
<div class="ps-page--404">
    <div class="container">
        <div class="ps-section__content"><img src="{{path}}img/404.jpg" alt="">
            <h3>ohh! pagina no encontrada</h3>
            <p>Parece que no podemos encontrar lo que busca. Puede volver a<a routerLink="/"> Home</a> y buscar otros productos</p>
            <!-- <form class="ps-form--widget-search" action="do_action" method="get">
                <input class="form-control" type="text" placeholder="Search...">
                <button><i class="icon-magnifier"></i></button>
            </form> -->
        </div>
    </div>
</div>