<app-call-to-action *ngIf="!es_vendedor" ></app-call-to-action>
<app-producto-breadcrumb></app-producto-breadcrumb>

<div class="ps-page--product">

    <div class="ps-container">

    	<!--=====================================
		Product Container
		======================================--> 

        <div class="ps-page__container">

        	<!--=====================================
			Left Column
			======================================--> 

			<div class="ps-page__left">

        		<app-producto-left></app-producto-left>

        	</div><!-- End Left Column -->

        	<!--=====================================
			Right Column
			======================================--> 

			<div class="ps-page__right">

        		<app-producto-right></app-producto-right>

        	</div><!-- End Right Column -->

        </div><!--  End Product Container -->

        <!--=====================================
        Customers who bought
        ======================================--> 

		<app-compra-similar></app-compra-similar>
        <!--=====================================
        Related products
        ======================================--> 

		<app-producto-relacionado></app-producto-relacionado>

   	</div>

</div>